
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
    overflow: auto; /* Agrega overflow para limpiar el float */
    border-radius: 0 0 10px 10px; /* Redondea las esquinas inferiores */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Agrega una sombra */
    transition: all 0.3s ease; /* Agrega un efecto de transición */
    text-align: right;
  
  }
  
  header:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Cambia la sombra al pasar el cursor */
  }
  
  .logo {
    float: left;
    margin-right: 20px; /* Ajusta el margen derecho según tus necesidades */
    width: 250px; /* Ajusta el ancho según tus necesidades */
    height: auto;
    float: left;
  }
  
  
  
  
  a {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    background-color: white; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
  }
  
  /* a:hover {
    background-color: #34495e;
  } */
  
  a[href^="#"] {
    position: relative;
  }
  
  a[href^="#"]::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #2c3e50;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }
  
  a[href^="#"]:hover::before {
    transform: scaleX(1);
  }
  
  .fondo {
    background-image: url('/paz_2.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    border-radius: 0 0 10px 10px; 
 
    
  }
  .fondodos {
    background-color: rgba(255, 153, 51, 0.5);
    border-radius: 0 0 10px 10px;
    color: black;
    
  }
  .botones button {
    display: inline-block; /* Establece los botones como elementos en línea */
    margin: 10px 60px; /* Establece el margen en 10px */
    border-radius: auto; /* Establece el radio de las esquinas en un 50% en el eje horizontal y en un 70% en el eje vertical */
    padding-bottom: 20px;
    width: 200px; /* Establece el ancho del botón */
    height: 50px; /* Establece la altura del botón */
    
  }
  .botones{
    text-align: center;
    background-color: #2c3e50;
    border-radius: 0 0 10px 10px;

  }

  .descripcion {
    padding: 20px;
    background-color: transparent;
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.5);
    border-radius: 0 0 10px 10px; /* Redondea las esquinas inferiores */ 
    display: inline-block;
    
    
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .videos, .testimonios {
    width: calc(50% - 10px);
    margin: 0 5px;
  }
  
  
  
      
  h1 {
    font-size: 50px;
    margin: 0;
  }
  
  
  
  section {
    padding: 50px;
    text-align: center;
  }
  
  h2 {
    font-size: 30px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
  }
  
  button {
      background-color: #2c3e50;  
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
      background-color: #34495e;
  }
  
  footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 0 0 10px 10px; /* Redondea las esquinas inferiores */
  
  }

  .formulario {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .formulario input[type="text"],
  .formulario input[type="email"],
  .formulario textarea {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
  }
  
  .formulario input[type="submit"] {
    background-color: black; 
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .formulario input[type="submit"]:hover {
    background-color: #2c3e50; 
  }

  .botonestres {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .botonestres button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #2c3e50;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .botonestres button:hover {
    background-color: #34495e;
  }
  
  .contacto {
    background-color: #f2f2f2;
    padding: 50px;
    text-align: center;
  }
  
  .contacto h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .contacto p {
    font-size: 20px;
    margin-bottom: 40px;
  }
  
  .botones-contacto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .botones-contacto a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #2c3e50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.3s ease;
  }
  
  .botones-contacto a:hover {
    background-color: #34495e;
  }
  
  

  /* Estilos para pantallas grandes */
@media only screen and (min-width: 1200px) {
  /* Agrega estilos para la sección de videos y testimonios */
  .videos, .testimonios {
    width: calc(50% - 10px);
    margin: 0 5px;
  }
}

/* Estilos para pantallas medianas */
@media only screen and (max-width: 1199px) and (min-width: 768px) {
  /* Agrega estilos para la sección de videos y testimonios */
  .videos, .testimonios {
    width: calc(50% - 5px);
    margin: 0 2.5px;
  }
}

/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 767px) {
  /* Cambia la dirección del flexbox en el contenedor */
  .container {
    flex-direction: column;
  }

  /* Agrega estilos para la sección de videos y testimonios */
  .videos, .testimonios {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-width: 600px) {
  .videos, .testimonios {
    width: 100%;
    margin: 0;
  }
}
