body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
    overflow: auto; /* Agrega overflow para limpiar el float */
    border-radius: 0 0 10px 10px; /* Redondea las esquinas inferiores */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Agrega una sombra */
    transition: all 0.3s ease; /* Agrega un efecto de transición */
    text-align: right;
  
  }
  
  header:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Cambia la sombra al pasar el cursor */
  }
  
  .logo {
    float: left;
    margin-right: 20px; /* Ajusta el margen derecho según tus necesidades */
    width: 250px; /* Ajusta el ancho según tus necesidades */
    height: auto;
    float: left;
  }
  
  
  
  
  a {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    background-color: white; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
  }
  
  /* a:hover {
    background-color: #34495e;
  } */
  
  a[href^="#"] {
    position: relative;
  }
  
  a[href^="#"]::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #2c3e50;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }
  
  a[href^="#"]:hover::before {
    transform: scaleX(1);
  }
  
  .fondo {
    background-image: url('/paz_2.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    border-radius: 0 0 10px 10px; 
 
    
  }
  .descripcion {
    padding: 20px;
    background-color: transparent;
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.5);
    border-radius: 0 0 10px 10px; /* Redondea las esquinas inferiores */ 
    display: inline-block;
    
    
  }
  
  
  
      
  h1 {
    font-size: 50px;
    margin: 0;
  }
  
  
  
  section {
    padding: 50px;
    text-align: center;
  }
  
  h2 {
    font-size: 30px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
  }
  
  button {
      background-color: #2c3e50;  
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
      background-color: #34495e;
  }
  
  footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 0 0 10px 10px; /* Redondea las esquinas inferiores */
  
  }