/* Estilos para el header */


@import url('https://fonts.googleapis.com/css2?family=Noteworthy&display=swap');



header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0077B6;
  color: white;
  padding: 20px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}


.cover{
  background-image: url('/Fondos.PNG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  border-radius: 0 0 50px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 5px; 
  
}

.evento {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Cambiamos "center" a "flex-start" para alinear arriba */
  min-height: 100vh;
   
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300vh;
  border-radius: 0 0 50px 50px; 
  
}



.logo {
  width: 190px;
  height: auto;
}

.encabezado {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  
}
h2 {
  margin: 0;
  font-size: 30px;
  font-weight: 500;
  margin-right: 20px;
  font-family: 'Noteworthy', cursive !important; 
}

.nombre {
  margin-right: 20px;
}

.foto {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}


.event-box {
  background-color: #f5f5f5;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px; 
  margin-top: 10px !important;  

}

.event-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.event-date {
  font-size: 16px;
  color: #888;
  margin-bottom: 10px;
}

.event-description {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
}

  /* Estilos para la navegación */
  .navbar {
    background-color: FFAC33 !important; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    width: 100%;  
    

  }



  
  .navbar-nav .nav-link {
    color: #212529;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    margin: 0 5px;
    border-radius: 5px;
  }
  
  .navbar-nav .nav-link:hover {
    background-color: #dcdcdc;
  }
  
  /* Estilos para el fondo */
  .fondo {
    background-color: #f8f9fa;
    padding: 40px 0;
  }
  
  /* Estilos para el footer */
  footer {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    border-top: 1px solid #ccc;
  }

  header {
    background-color: #0077B6;
    padding: 20px; 
    display: flex;
  }
  
  .logo {
    max-height: 100px;
  }
  
  .foto {
    width: 5%;
    height: auto;
    border-radius: 50%;
    margin-top: 20px;
  }

  /* .fondo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300vh;
    background-image: url('/Fondos.PNG'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300vh;
    border-radius: 0 0 50px 50px; 
  }
   */
  /* Estilos para el header en pantallas móviles */
@media (max-width: 767px) {
  header {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
  }
  
  .logo {
    max-width: 100%;
    margin-bottom: 10px;
  }
  
  .encabezado {
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .foto {
    width: 30%;
    margin-top: 10px;
    margin-right: 0;
  }
  
  h2 {
    font-size: 24px;
    margin-right: 0;
  }
  
  .nombre {
    margin-right: 0;
  }
}


@media (max-width: 767px) {
  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }
  
  .navbar-nav .nav-link {
    margin: 5px 0;
  }
} 





