/* Estilos generales */
/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
}

/* Estilos específicos para los divs */
.por-que-escuela,
.para-quien,
.que-ofrece {
  width: 30%;
  padding: 2rem;
  box-sizing: border-box;
  margin-bottom: 2rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}

/* Añadir espacio entre los divs si están en una fila */
.para-quien {
  margin-left: 2%;
  margin-right: 2%;
}

.fraseprincipal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fraseprincipal .fraseuno {
  text-align: left;
  margin-left: 2rem;
  margin-right: auto;
}

.fraseprincipal .frase2 {
  text-align: right;
  margin-left: auto;
  margin-right: 2rem;
}

.fraseprincipal .autor {
  margin-top: 2rem;
  text-align: right;
}

.containerq {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.seccion {
  border: 0.2rem solid #000;
  padding: 2rem;
  margin: 2rem;
  width: 100%;
  height: 300px;
  text-align: justify;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
}

.row:first-child {
  margin-bottom: 2rem;
}

/* Media query para ajustar el diseño en dispositivos más pequeños */
/* @media screen and (max-width: 768px) {
  .por-que-escuela,
  .para-quien,
  .que-ofrece {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  
  .seccion {
    width: 90%;
  }
} */

@media screen and (max-width: 768px) {
  .por-que-escuela,
  .para-quien,
  .que-ofrece {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    font-size: 0.9rem;
  }
  
  .seccion {
    width: 90%;
    height: auto;
    padding: 1rem;
    margin: 1rem auto;
  }
}

