/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
  }
  
  /* Estilos específicos para los divs */
  .por-que-escuela,
  .para-quien,
  .que-ofrece {
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Añadir espacio entre los divs si están en una fila */
  .para-quien {
    margin-left: 2%;
    margin-right: 2%;
  }

  .fraseprincipal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .fraseprincipal .fraseuno {
    text-align: left;
    margin-left: 20px;
    margin-right: auto;
  }
  
  .fraseprincipal .frase2 {
    text-align: right;
    margin-left: auto;
    margin-right: 20px;
  }
  
  .fraseprincipal .autor {
    margin-top: 20px;
    text-align: right;
  }
  
  .containerq {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .seccion {
    border: 2px solid #000;
    padding: 20px;
    margin: 20px;
    width: 400px;
    height: 300px;
    text-align: justify;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .row:first-child {
    margin-bottom: 20px;
  }
  
  
  
  
  
  
  /* Media query para ajustar el diseño en dispositivos más pequeños */
  @media screen and (max-width: 768px) {
    .por-que-escuela,
    .para-quien,
    .que-ofrece {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
  